body {
    background-color: #f8f9fa;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #003366;
}

.navbar-brand,
.nav-link,
.navbar-text {
    color: #fff !important;
}

.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
}

.certs-btn {
    background-color: rgb(17, 149, 201);
    color: white;
}

.certs-btn:hover {
    background-color: #0e97c0;
    color: white;
}
